.table-container {
  max-height: 600px; /* Set the maximum height for the table container */
  overflow-y: scroll; /* Enable vertical scrolling */
  border: 1px solid gray; /* Ensure scrollbar doesn't affect border */
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

.table-container::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #0485ee; /* Set the color of the scrollbar thumb */
  border-radius: 3px; /* Set the border radius of the scrollbar thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #777777; /* Set the color of the scrollbar thumb on hover */
}

.table-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.paragraph-container {
  max-height: 330px; /* Set the maximum height for the table container */
  overflow-y: scroll; /* Enable vertical scrolling */
  border: 2px; /* Ensure scrollbar doesn't affect border */
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

.paragraph-container::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.paragraph-container::-webkit-scrollbar-thumb {
  background-color: #0485ee; /* Set the color of the scrollbar thumb */
  border-radius: 3px; /* Set the border radius of the scrollbar thumb */
}

.paragraph-container::-webkit-scrollbar-thumb:hover {
  background-color: #777777; /* Set the color of the scrollbar thumb on hover */
}

.paragraph-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}
